@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 3px solid orange;
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
    font-family: 'Assistant', sans-serif;
}
header{
    background-image: url("img/star-uó-topo@2x.png");
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.star{
    position: absolute;
    left: 17%;
    top: 56%;
}
.star img{
    width: 270px;
}
.wars{
    position: absolute;
    left: 66%;
    top: 57%;
}
.wars img{
    width: 275px;
}
.kylo-ren{
    position: absolute;
    left: 7%;
    display: flex;
    align-items: center;
}
.kylo-ren img{
    width: 60vw;
    height: 100vh;
}
.crie-sua-legiao{
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 7vw;
}
.bold{
    font-size: 1rem;
    font-weight: 700;
}
#linha-horizontal{
    width: 8vw;
    border: 1px solid rgb(97, 96, 96);
    margin: 2vh 0vw;
}
.line-p{
    display: flex;
    justify-content: left;
    width: 4vw;
    align-items: baseline;
}
.um{
    font-size: 1rem;
    font-weight: bold;
}
.dois{
    font-size: 0.7rem;
}
.line-p button{
    width: 0.7vw;
    height: 1.5vh;
}
.btn1{
    font-size: 0.4rem;
}
.btn2{
    font-size: 0.4rem;
}
@media(max-width: 930px){
    .star img{
        width: 200px;
    }
    .wars img{
        width: 200px;
    }
}
@media(max-width: 620px){
    .star img{
        width: 30vw;
    }
    .wars img{
        width: 30vw;
    }
}
main{
    display: flex;
}
.back-robot img{
    width: 33vw;
}
.comece-jogar{
    position: absolute;
    left: 20%;
    top: 75%;
    height: 53vh;
    width: 18vw;
    background-image: url("img/strom-trupe-red@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comece-jogar h3{
    font-size: 2vw;
    font-weight: 400;
    line-height: 2.5vw;
    padding: 10vh 4.5vw;
}
.comece-jogar p{
    font-size: 1.04vw;
    font-weight: 300;
    padding: 0 1.72vw 0 1.67vw;
    text-align: left;
    letter-spacing: 0;
}
.comece-jogar button{
    background-color: #D74430;
    color: #fff;
    border: 1px solid #fff;
    width: 5vw;
    height: 1.5vw;
    font-size: 0.7vw;
    margin-top: 2vw;
    border-radius: 5px;
}
.comece-jogar a{
    color: white;
    text-decoration: none;
}
.comece-jogar a:hover{
    color: #D74430;
}
.comece-jogar button:hover{
    background-color: white;
}

.sobre-jogo{
    width: 40vw;
    height: 13vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 43.1vw;
    top: 105vh;
}
.sobre-jogo img{
    padding-right: 10px;
    width: 20vw;
}
.sobre-jogo-text{
    display: flex;
    flex-direction: column;
    padding-right: 1vw;
    width: 20vw;
    text-align: right;
}
.sobre-jogo-text h4{
    font-size: 1.2rem;
}
#linha-horizontal2{
    height: 2px;
    background-color: rgb(97, 96, 96);
    margin: 0.8vw 0 0.8vw 10.8vw;
    width: 7.8vw;
}
.sobre-jogo-text p{
    font-size: 0.7rem;
}
#linha-horizontal3{
    width: 60vw;
    position: absolute;
    left: 20vw;
    top: 63vw;
    height: 2px;
    background-color: rgb(97, 96, 96);
}